* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    border: none;
    padding: 12px 18px;
    background: #667eea;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #4f46c5;
}

ul {
    list-style: none;
    margin-top: 25px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f4f6;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}

li span {
    cursor: pointer;
    flex: 1;
}

.selesai {
    text-decoration: line-through;
    color: gray;
}

.hapus {
    background: #ef4444;
    padding: 7px 10px;
}

.hapus:hover {
    background: #dc2626;
}

.hapus-semua {
    width: 100%;
    margin-top: 15px;
    background: #ef4444;
}